@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 255, 255, 255; 
  --background-start-rgb: 0, 0, 0; 
  --background-end-rgb: 0, 0, 0; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NavBar/Logo */
.flex-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: min(8vw, 200px);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: min(4vw, 25px);
  letter-spacing: 0.5rem;
  justify-content: center;
}

.tab {
  -webkit-animation: glow 3s ease-in-out infinite alternate;
  -moz-animation: glow 3s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b1b1b1, 0 0 40px #b1b1b1, 0 0 50px #b1b1b1, 0 0 60px #b1b1b1, 0 0 70px #b1b1b1;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000, 0 0 80px #ff0000;
  }
}

.divider75 {
  width: 75%;
  border: 0;
  border-top: 1px solid white;
  margin: 5px auto;
}

.logo {
  display: flex;
  width: 20rem;
  justify-content: center;
}

.logo-header{
  justify-content: center;
  display: flex;
}

.mainDishes {
  position: relative;
  width: 100%;
  height: 40vh; /* Adjust height as needed */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.scroll-belt {
  display: flex;
  align-items: center;
  width: calc(400px * 18 - 50px); /* Adjust size as needed */
  animation: scroll 30s linear infinite;
}

.scroll-belt img {
  width: 400px; /* Adjust size as needed */
  height: auto;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.scroll-belt img:hover {
  transform: scale(1.1);
}

.scroll-belt::-webkit-scrollbar {
  display: none; /* Hide scrollbar for a cleaner look */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 9)); /* Adjust size as needed */
  }
}

/*About Us*/
.title-container {
  display: grid;
  place-items: center;
  position: relative;
  text-align: center; 
  height: 15vh;
  clip-path: inset(0 100% 0 0);
  animation: appear 4s forwards;
  width: 100%;
}

@keyframes appear {
  to {
      clip-path: inset(0 0 0 0);
  }
} 

.brush-stroke {
  position: absolute;
  width: min(70vw, 70vw);
  max-width: 1000px;
  transform: translateX(10%);
  z-index: 1; 
}

.about-us-title{
  background-color: transparent;
  padding-top: min(4vw, 50px);
  width:100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Kaisei Decol", serif;
  font-style: bold;
  letter-spacing: 0.5rem;
  font-size: min(5vw, 70px);
  z-index: 2;
  color: white;
  position: relative;
  transform: translateY(-20%);
}

.about-us {
  display: flex;
  width: 100%;
  height: auto;
  height: auto;
  background: white; 
  color: black;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.about-us-container{
  display: grid; 
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.about-us-paragraph{
  margin: min(4vw, 30px);
  font-family: "Kaisei Decol", serif;
  font-style: normal;
  font-size: min(4vw, 25px);
  width: 80%;
}

.textbox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
    /*Map*/
.map {
  height: 45vh;
  aspect-ratio: 1/1;
  border: 5px solid black;
}

.aria-label {
  text-align: left;
  font-size: min(4vw, 15px);
}

.aria-label-name {
  text-align: left;
  font-weight: bold;
  font-size: min(4vw, 20px);
}

/*Gallery and Instagram*/
.cells-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  box-sizing: border-box;
  height: 110vh;
  min-height: 1000px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 5px;
}

.left-cell {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 2000px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  width: 90%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide.active {
  opacity: 1;
}

/*Instagram Card*/
.right-cell {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: black;
}

.card{
  position: relative;
  min-height: 400px;
  background: #fff;
  box-shadow: 5px 5px 60px grey;
  padding-bottom: 20px;
  width: 100%;
}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px
}
.card .top .userDetails{
  display: flex;
  align-items: center;
}
.card .top .userDetails .profileImg{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 80%;
  margin-right: 8px;
  overflow: hidden;
}
.cover{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.card .top .userDetails h3{
  font-size: 15px;
  color: #4d4d4f;
  font-weight: 700;
  line-height: 1rem;
  cursor: pointer;
}
.card .top .userDetails span{
  font-size: 0.75em;
}
.card .top .dot{
  transform: scale(0.6);
  cursor: pointer;
}

.imgBg{
  position: relative;
  width: 100%;
  height: 380px;
  margin: 0 0 15px;
}

.btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.left{
  width: 50%;
  display: flex;
}

.btns img{
  max-width: 24px;
  cursor: pointer;
}
.btns .left img{
  margin-right: 8px;
}
.likes{
  margin-top: 5px;
  font-size: 1em;
  color: #4d4d4f;
  padding-left: 20px;
  padding-right: 20px;
}
.message{
  font-weight: 400;
  margin-top: 5px;
  color: #777;
  line-height: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
}
.message b{
  color: #262626;
}
.message span{
  color: #1d92ff;
  cursor: pointer;
}

/* Footer*/
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  display: grid;
}

.footer-icons {
  margin-bottom: 10px;
  justify-content: center;
  place-items: center;
  display: flex;
}

.footer-icons .social-icon {
  margin: 0 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.footer-contact {
  font-size: 14px;
  margin-top: 5px;
}

.footer .footer-contact p {
  margin: 0;
}

/*Screen Size*/
@media (min-width: 700px) {
  .cells-container{
    display: flex;
    height: auto;
    min-height: 0;
  }

  .left-cell{
    width: 60%;
    padding-right: 40px;
    padding: 40px;
    height: 70vh;
  }

  .right-cell{
    width: 40%;
  }

  .imgBg{
    height: 50vh;
  }

}

@media (min-width: 1500px) { 
  .about-us-container{
    display: flex;
    width: 80%;
    text-align: left;
  }

  .map{
    height: 40vh
  }

  .left-cell{
    width: 50%;
    height: 80vh;
  }

  .right-cell{
    width: 50%;
  }

  .card{
    width: 60%;
  }
}

@media (min-width: 2000px) { 
  .map{
    height: 60vh
  }
  .about-us-container{
    display: flex;
    text-align: left;
  } 

}
