@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 255, 255, 255; 
  --background-start-rgb: 0, 0, 0; 
  --background-end-rgb: 0, 0, 0; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.about-us-paragraph{
  margin: min(4vw, 30px);
  font-family: "Kaisei Decol", serif;
  font-style: normal;
  font-size: min(3vw, 25px);
  width: 80%;
  padding-right: 30px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Landing page picture */
.mainDishes {
  position: relative; 
  width: 100vw; 
  height: 100vh;
  overflow: hidden; 
}

.mainDishes img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transform: translate(-50%, -50%); 
}

/* NavBar/Logo */
.flex-container {
  margin-top: 2rem;
  display: flex;
  gap: min(8vw, 200px);
  font-family: "Kaisei Decol", serif;
  font-style: bold;
  font-size: min(2vw, 25px);
  letter-spacing: 0.5rem;
}

.divider75 {
  width: 75%;
  border: 0;
  border-top: 1px solid white;
  margin: 10px auto;
}

.divider100 {
  width: 100%;
  border: 0;
  border-top: 1px solid white;
  margin: 10px auto;
}

.logo {
  display: flex;
  justify-content: center;
}

/*About Us*/
.title-container {
  display: grid;
  place-items: center;
  position: relative;
  text-align: center; 
  height: 15vh;
  clip-path: inset(0 100% 0 0);
  animation: appear 4s forwards;
  width: 100%;
}

@keyframes appear {
  to {
      clip-path: inset(0 0 0 0);
  }
} 

.brush-stroke {
  position: absolute;
  width: min(70vw, 70vw);
  max-width: 1000px;
  transform: translateX(10%);
  z-index: 1; 
}

.about-us-title{
  background-color: transparent;
  padding-top: min(4vw, 50px);
  width:100%;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Kaisei Decol", serif;
  font-style: bold;
  letter-spacing: 0.5rem;
  font-size: min(4vw, 70px);
  z-index: 2;
  color: white;
  position: relative;
  transform: translateY(-20%);
}

.about-us {
  display: flex;
  width: 100%;
  height: auto;
  height: auto;
  background: white; 
  background: linear-gradient(to bottom, white 70%, black);
  color: black;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

.about-us-container{
  display: grid; 
  width: 100%;
  height: auto;
  padding: min(0px, 30px);
  margin-bottom: 300px;
  justify-content: center;
  place-items: center;
  text-align: center;
}

.textbox {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
    /*Map*/
.map {
  height: 40vh;
  aspect-ratio: 1/1;
  border: 5px solid black;
}

.aria-label {
  text-align: left;
  font-size: min(4vw, 15px);
}

.aria-label-name {
  text-align: left;
  font-weight: bold;
  font-size: min(4vw, 20px);
}

/*Gallery and Instagram*/

.cells-container {
  display: grid;
  width: 100%;
  height: auto; 
  box-sizing: border-box;
}

.left-cell {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-cell {
  width: 40%;
  padding: 20px;
  box-sizing: border-box;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

/*Contact Us*/

.contact-info{
  display: flex; 
}

/*Footer*/
.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  font-family: "Kaisei Decol", serif;
  font-style: normal;
  font-size: min(2vw, 15px);
}

.links-card{
  grid-column-start:5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-card{
  grid-column-start:2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: left;
}

/*Screen Size*/
@media (min-width: 1500px) { 
  .map{
    height: 40vh
  }
  
  .about-us-container{
    display: flex;
    width: 80%;
    text-align: left;
  }
}

@media (min-width: 2000px) { 
  .map{
    height: 60vh
  }
  .about-us-container{
    display: flex;
    text-align: left;
  }

  .cells-container{
    display: flex;
  }
}